@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

// Medias
@mixin mobile-1 {
  @media (max-width: 845px) {
    @content;
  }
}

@mixin mobile-2 {
  @media (max-width: 550px) {
    @content;
  }
}

// Reset
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  // scroll-behavior: smooth;
  font-family: "Mochiy Pop P One", sans-serif;
}

// Utility Classes
.flex {
  display: flex;
}

.active {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(111, 157, 197);
}

.open {
  display: flex !important;
}

.hide {
  transform: translateY(-3.5em);
}

.scroll-btn-visible {
  transform: translate(0) !important;
}

// Setting Background Video
.background-video {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;

  video {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: -99;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-10%, -10%);
  }

  .main-text {
    font-size: 4.3em;
    color: white;

    @include mobile-1 {
      font-size: 3em;
      margin: 1em;
    }
  }

  @supports (-webkit-text-stroke: 1px black) {
    .main-text:hover {
      -webkit-text-stroke: 2px white;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
  }
}

// Navigation Styles
nav {
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0.5em);
  color: white;
  height: 3.5em;
  width: 100%;
  z-index: 10000;
  transition: all 0.5s ease-in-out;

  .logo-name {
    font-weight: 700;
    font-size: 1.8em;
    margin: 0 2rem;

    span {
      font-size: 0.5em;
    }
  }

  // Section Links
  .navigation-links {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    // Mobile Menu
    @include mobile-1 {
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(0.5em);
      height: fit-content;
      width: 20em;
      position: absolute;
      right: 0;
      top: 2.5em;
      padding: 0;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-top: 4px solid black;
      display: none;
      transition: all 3s ease-in-out;
    }

    li {
      text-align: center;
      padding: 1rem 1rem 0 1rem;
      list-style: none;
      height: 100%;
      width: fit-content;
      font-size: 1em;
      font-weight: 500;

      @include mobile-1 {
        height: 5em;
        width: 100%;
        margin: 0;
        padding-top: 1.5em;
      }
    }

    li:hover {
      background-color: rgba(0, 0, 0, 0.4);
      color: rgb(111, 157, 197);
      cursor: pointer;
    }
  }
}

// Menu Button
.menu-btn {
  display: none;
  position: absolute;
  top: 0.7em;
  right: 0.7em;
  height: 2.3em;
  width: 2.3em;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0.5em);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  @include mobile-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-btn-burger {
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

// Section Styles
section {
  height: fit-content;
  color: white;
  min-height: 100vh;
  background-image: url(../images/section-back.jpg);
  background-size: contain;
  margin-top: 0;

  .section-container {
    margin: 0px 4rem;
    padding: 1rem 0;

    @include mobile-2 {
      margin: 0px 2rem;
    }
  }

  h1 {
    font-size: 3em;
  }

  .section-content {
    font-family: arial;
    line-height: 1.5em;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1em);
    border-radius: 15px;
    padding: 2rem;
  }
}

// Footer Styles
footer {
  background-color: rgba(0, 0, 0, 1);
  justify-content: center;
  align-items: center;
  height: 3em;
  color: white;

  span {
    margin-left: 1em;
    font-size: 0.6em;
  }
}

// Scroll to top button
#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(1em);
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-out;
  transform: translateX(70px);
}

// Animations
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-7px);
}

.menu-btn-burger::after {
  transform: translateY(8px);
}

.menu-btn.animate {
  .menu-btn-burger {
    transform: translateX(-30px);
    background: transparent;
  }

  .menu-btn-burger::before {
    transform: rotate(45deg) translate(21px, -21px);
  }
  .menu-btn-burger::after {
    transform: rotate(-45deg) translate(21px, 21px);
  }
}

#btnScrollToTop:active {
  background-color: rgb(146, 146, 146);
}
